<mat-card>
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <ng-template [ngIf]="(loading$ | async)" [ngIfElse]="registerForm">
      <mat-spinner></mat-spinner>
    </ng-template>

    <ng-template #registerForm>
      <form
        [formGroup]="registerFormGroup"
        class="inputs-container">
        <mat-form-field>
          <mat-label>Username</mat-label>

          <input
            matInput
            required
            [formControlName]="USERNAME_FORM_CONTROL_NAME"
            id="username-input">

          <mat-error id="username-error-message">{{ usernameErrorMessage }}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>

          <input
            matInput
            required
            [type]="hidePassword ? 'password' : 'text'"
            [formControlName]="PASSWORD_FORM_CONTROL_NAME"
            id="password-input">

          <button
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword">
            <mat-icon>
              {{ hidePassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </button>

          <mat-error id="password-error-message">{{ passwordErrorMessage }}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>

          <input
            matInput
            required
            [formControlName]="EMAIL_FORM_CONTROL_NAME"
            id="email-input">

          <mat-error>{{ emailErrorMessage }}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Full name</mat-label>

          <input
            matInput
            [formControlName]="FULLNAME_FORM_CONTROL_NAME"
            id="fullname-input">

          <mat-error>{{ fullNameErrorMessage }}</mat-error>
        </mat-form-field>
      </form>
    </ng-template>
  </mat-card-content>

  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!registerFormGroup.valid || (loading$ | async)"
      (click)="registerUser()"
      class="register-btn">
      Register
    </button>
  </mat-card-actions>
</mat-card>
