:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: lightgrey;

  mat-card {
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .inputs-container {
      display: flex;
      flex-direction: column;
      width: 100%;

      mat-form-field {
        display: block;
        margin-bottom: 16px;
      }
    }
  }
}
